<div id="<%= dom_id parking_slot %>">
  <p>
    <strong>Slot number:</strong>
    <%= parking_slot.slot_number %>
  </p>

  <p>
    <strong>Slot loaction:</strong>
    <%= parking_slot.slot_loaction %>
  </p>

  <p>
    <strong>Availability status:</strong>
    <%= parking_slot.availability_status %>
  </p>

</div>
