<p style="color: green"><%= notice %></p>

<h1>Parking slots</h1>

<div id="parking_slots">
  <% @parking_slots.each do |parking_slot| %>
    <%= render parking_slot %>
    <p>
      <%= link_to "Show this parking slot", parking_slot %>
    </p>
  <% end %>
</div>

<%= link_to "New parking slot", new_parking_slot_path %>
